Repository ambilab/website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["biome check --write", "eslint --fix", "cspell --no-progress"],
  "*.{js,cjs,mjs}": ["biome check --write", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write"],
  "*.astro": ["prettier --write", "eslint --fix"],
  "*.svelte": ["eslint --fix"],
  "*.{md,mdx}": ["prettier --write", "cspell --no-progress"],
  "*.{yaml,yml}": ["prettier --write"]
}

chore: update Tailwind CSS configuration and enhance global styles
  src/styles/global.css
  tailwind.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write

refactor: update component styles and structure for consistency
  src/components/astro/BlogPostLayout.astro
  src/components/astro/Card.astro
  src/components/astro/ErrorPage.astro
  src/components/astro/Footer.astro
  src/components/astro/Header.astro
  src/components/astro/PageLayout.astro
  src/components/astro/SocialLinks.astro
  src/components/svelte/Button.svelte
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/LocaleSwitcher.svelte
  src/components/svelte/NewsletterForm.svelte
  src/components/svelte/ThemeSwitcher.svelte
  src/content/pages/cs/index.mdx
  src/content/pages/en/index.mdx
  src/pages/[...slug].astro
  src/styles/mdx-content.css
Due: eslint --fix, cspell --no-progress, biome format --write, prettier --write

chore: clean up package.json
  package.json
  pnpm-lock.yaml
Due: biome format --write, prettier --write

docs: update README.md
  README.md
  ai-rules/ambilab-website.mdc
Due: cspell --no-progress, prettier --write

refactor: move overrides to pnpm-specific format
  .npmrc
  package.json
Due: biome format --write

refactor: update Card component class handling
  src/components/astro/Card.astro
Due: eslint --fix, prettier --write

feat: enhance social media icon handling and update validation messages
  ai-rules/ambilab-website.mdc
  src/assets/icons/bluesky.svg
  src/assets/icons/github.svg
  src/assets/icons/instagram.svg
  src/assets/icons/linkedin.svg
  src/assets/icons/mastodon.svg
  src/assets/icons/threads.svg
  src/assets/icons/x.svg
  src/components/astro/SocialLinks.astro
  src/config/icons.ts
  src/scripts/validate-security-headers.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

chore: remove isomorphic-dompurify dependency and clean up related files
  package.json
  pnpm-lock.yaml
  src/components/svelte/Icon.svelte
  src/config/security.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

chore: update Tailwind CSS configuration to enforce type safety
  tailwind.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(ci): update actions
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: prettier --write

chore: add knip configuration and update dependencies
  .gitignore
  functions/.gitkeep
  knip.json
  package.json
  pnpm-lock.yaml
Due: biome format --write, prettier --write

chore: add VSCode tasks configuration
  .vscode/tasks.json
Due: biome format --write

refactor: update expressiveCode themes and style properties
  astro.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor: improve locale handling, formatting utilities, and component styling
  src/components/astro/BlogPostLayout.astro
  src/components/astro/Card.astro
  src/components/astro/ErrorPage.astro
  src/components/astro/Footer.astro
  src/components/astro/Head.astro
  src/components/astro/Header.astro
  src/components/astro/HeaderNav.astro
  src/components/astro/HeadingLinks.astro
  src/components/astro/PageLayout.astro
  src/components/astro/SocialLinks.astro
  src/components/svelte/Button.svelte
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/LocaleSwitcher.svelte
  src/components/svelte/NewsletterForm.svelte
  src/components/svelte/ThemeSwitcher.svelte
  src/config/site.ts
  src/content/blog/cs/ahoj-svete.mdx
  src/content/blog/en/hello-world.mdx
  src/content/config.ts
  src/content/pages/cs/index.mdx
  src/content/pages/en/index.mdx
  src/i18n/config.ts
  src/i18n/utils.ts
  src/pages/[...slug].astro
  src/scripts/validate-security-headers.ts
  src/styles/global.css
  src/types/locale.ts
  src/utils/debounce.ts
  src/utils/dom.ts
  src/utils/formatDate.ts
  src/utils/scroll.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

fix: fix the missing import
  src/components/astro/Head.astro
Due: eslint --fix, prettier --write

refactor: standardize constant naming across project
  src/components/astro/Icon.astro
  src/components/svelte/LocaleSwitcher.svelte
  src/config/components.ts
  src/config/icons.ts
  src/i18n/config.ts
  src/i18n/utils.ts
  src/lib/images.ts
  src/middleware.ts
  src/stores/locale.ts
  src/utils/formatDate.ts
  src/utils/scroll.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

style(components): remove redundant cursor-pointer from LocaleSwitcher
  src/components/svelte/LocaleSwitcher.svelte
Due: eslint --fix

docs(styles): document OpenType font features in global CSS
  src/styles/global.css
Due: biome format --write

perf(utils): cache DateTimeFormat instances in formatDate
  cspell.json
  src/utils/formatDate.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write

refactor(config): centralize route definitions for localized paths
  src/components/astro/Footer.astro
  src/components/astro/HeaderNav.astro
  src/config/routes.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

refactor(utils): simplify DOM utility functions
  src/components/astro/HeaderNav.astro
  src/utils/dom.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

fix(components): add relative positioning to Header element
  src/components/astro/Header.astro
Due: eslint --fix, prettier --write

docs: remove nanostores
  README.md
  ai-rules/ambilab-website.mdc
  ai-rules/file-structure.mdc
  cspell.json
Due: cspell --no-progress, biome format --write, prettier --write

fix(components): enforce ariaLabel requirement for semantic icons
  src/components/astro/Icon.astro
Due: eslint --fix, prettier --write

chore(deps): remove unused wrangler package
  package.json
  pnpm-lock.yaml
  wrangler.jsonc
Due: biome format --write, prettier --write

refactor(components): simplify generateId with guard clauses
  src/components/astro/HeadingLinks.astro
Due: eslint --fix, prettier --write

style: reorder Tailwind classes after adding semantic tokens
  src/components/astro/BlogPostLayout.astro
  src/components/astro/Card.astro
  src/components/astro/ErrorPage.astro
  src/components/astro/Footer.astro
  src/components/astro/Header.astro
  src/components/astro/HeaderNav.astro
  src/components/astro/PageLayout.astro
  src/components/astro/SocialLinks.astro
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/LocaleSwitcher.svelte
  src/components/svelte/NewsletterForm.svelte
  src/components/svelte/ThemeSwitcher.svelte
  src/content/pages/cs/index.mdx
  src/pages/[...slug].astro
Due: eslint --fix, cspell --no-progress, prettier --write

refactor(header): use centralized routing for home link
  src/components/astro/Header.astro
Due: eslint --fix, prettier --write

fix(header): prevent overlap on small screens with responsive layout
  src/components/astro/Header.astro
Due: eslint --fix, prettier --write

fix(nav): add aria-current and restore keyboard-visible focus styling
  src/components/astro/HeaderNav.astro
Due: eslint --fix, prettier --write

refactor(config): centralize RSS feed route configuration
  src/components/astro/BaseHead.astro
  src/components/astro/Footer.astro
  src/config/routes.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

refactor(components): simplify LocaleSwitcher prop spreading
  src/components/astro/Header.astro
  src/components/svelte/LocaleSwitcher.svelte
Due: eslint --fix, prettier --write

feat: add automated performance testing with Lighthouse CI
  .github/workflows/performance.yml
  lighthouserc.js
  package.json
  pnpm-lock.yaml
Due: biome check --write, eslint --fix, biome format --write, prettier --write

docs: update AI rules
  ai-rules/ambilab-website.mdc
  ai-rules/astro-svelte.mdc
  ai-rules/file-structure.mdc
  ai-rules/typescript.mdc
Due: none

fix: fix preflight
  biome.json
  knip.json
Due: biome format --write

feat: migrate Lighthouse CI configuration to CommonJS format
  .gitignore
  lighthouserc.cjs
  lighthouserc.js
  package.json
  pnpm-lock.yaml
  scripts/run-lighthouse.mjs
Due: biome check --write, eslint --fix, biome format --write, prettier --write

fix: enhance Lighthouse CI workflow for better error handling and logging
  .github/workflows/performance.yml
Due: prettier --write

docs: update supported languages in AI rules
  ai-rules/astro-svelte.mdc
Due: none

docs: update documentation
  src/components/astro/Head.astro
  src/config/security.ts
  src/i18n/config.ts
  src/pages/404.astro
  src/pages/500.astro
  src/pages/503.astro
  src/utils/logger.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write
