Repository ambilab/website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

fix(i18n): improve word count accuracy for imports and image markup
  src/i18n/utils.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(a11y): add keyboard focus management to cookie banner alertdialog
  src/components/svelte/CookieBanner.svelte
Due: eslint --fix

fix(i18n): handle multi-line imports in word count content cleaning
  src/i18n/utils.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(a11y): cancel deferred focus RAF on effect cleanup in cookie banner
  src/components/svelte/CookieBanner.svelte
Due: eslint --fix

fix(i18n): strip triple-tilde fenced code blocks in word count cleaning
  src/i18n/utils.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(routes): update logo image references and adjust dimensions in BaseHead component
  public/_routes.json
  public/favicon-dark.png
  public/logo-placeholder.png
  public/logo.png
  public/og-default.png
  src/components/astro/BaseHead.astro
Due: eslint --fix, biome format --write, prettier --write

fix(Menu): update logo SVG
  src/components/astro/Menu.astro
Due: eslint --fix, prettier --write

feat(components): add feature flag for locale switcher
  src/components/astro/Menu.astro
  src/config/features.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

feat: add feature flags for conditional component rendering
  src/components/astro/BaseHead.astro
  src/components/astro/Menu.astro
  src/components/astro/NewsPostLayout.astro
  src/components/astro/PageLayout.astro
  src/components/svelte/DemoEmbed.svelte
  src/config/features.ts
  src/pages/[...slug].astro
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

feat(components): optimize analytics script loading
  src/components/astro/BaseHead.astro
Due: eslint --fix, prettier --write

feat(config): add environment variable overrides for feature flags
  src/config/features.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(config): refactor feature flags to accept resolved env values instead of env var names
  src/config/features.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(theme): replace manual theme switcher with CSS prefers-color-scheme
  astro.config.ts
  docs/analytics-event-tracking.md
  src/components/astro/HeadingLinks.astro
  src/components/astro/Menu.astro
  src/components/astro/PageLayout.astro
  src/components/svelte/MobileMenu.svelte
  src/components/svelte/ThemeSwitcher.svelte
  src/config/features.ts
  src/i18n/translations.ts
  src/styles/global.css
  src/styles/mdx-content.css
  src/utils/analytics.ts
  src/utils/dom.test.ts
  src/utils/dom.ts
  tailwind.config.ts
  tests/e2e/theme-switching.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

fix(theme): update Expressive Code configuration and heading link styles
  astro.config.ts
  src/components/astro/HeadingLinks.astro
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

test(theme): improve system theme detection tests
  tests/e2e/theme-switching.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

docs(analytics): reindex event tracking sections after demo interaction removal
  docs/analytics-event-tracking.md
Due: cspell --no-progress, prettier --write

docs(analytics): update analytics event tracking
  docs/analytics-event-tracking.md
Due: cspell --no-progress, prettier --write

feat(tests): improve theme switching test with CSS variable
  tests/e2e/theme-switching.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(theme): make theme switching test more reusable
  tests/e2e/theme-switching.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(theme): improve CSS variable testing in theme switching tests
  tests/e2e/theme-switching.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(tests): add comprehensive E2E test suite for all major components
  .gitignore
  cspell.json
  tests/e2e/cookie-banner.spec.ts
  tests/e2e/go-to-top.spec.ts
  tests/e2e/locale-content.spec.ts
  tests/e2e/locale-switching.spec.ts
  tests/e2e/mobile-menu.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/news.spec.ts
  tests/e2e/newsletter.spec.ts
  tests/e2e/theme-switching.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write

docs(rules): update skill documentation with consistent wording and scope order
  cursor-config/skills/pr/SKILL.md
  cursor-config/skills/review/SKILL.md
Due: cspell --no-progress, prettier --write

fix(news): improve date validation in E2E tests
  tests/e2e/go-to-top.spec.ts
  tests/e2e/news.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

docs(rules): update project rules with E2E testing requirements and PR scope
  cursor-config/skills/deep-review/SKILL.md
  cursor-config/skills/pr/SKILL.md
  cursor-config/skills/review/SKILL.md
Due: cspell --no-progress, prettier --write

docs(rules): update project rules to include testing guidelines and E2E test infrastructure
  ai-rules/agent-workflow.mdc
  ai-rules/website.mdc
Due: none

refactor(tests): improve go-to-top E2E test reliability
  tests/e2e/go-to-top.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(tests): simplify news view-all link E2E test
  tests/e2e/news.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(tests): update cookie config to use url instead of domain
  tests/e2e/locale-content.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(tests): improve mobile menu focus wrap test
  tests/e2e/mobile-menu.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(tests): align E2E tests with main branch after theme refactor
  tests/e2e/cookie-banner.spec.ts
  tests/e2e/mobile-menu.spec.ts
  tests/e2e/theme-switching.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

docs(rules): clarify E2E testing verification process
  ai-rules/website.mdc
Due: none

chore(tests): add comment to clarify go-to-top scroll behavior
  tests/e2e/go-to-top.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(tests): simplify inert attribute checks in mobile menu E2E test
  tests/e2e/mobile-menu.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(tests): streamline newsletter subscription E2E test logic
  tests/e2e/newsletter.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(tests): enhance E2E tests with detailed comments for clarity
  tests/e2e/cookie-banner.spec.ts
  tests/e2e/go-to-top.spec.ts
  tests/e2e/locale-content.spec.ts
  tests/e2e/locale-switching.spec.ts
  tests/e2e/mobile-menu.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/news.spec.ts
  tests/e2e/newsletter.spec.ts
  tests/e2e/theme-switching.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(tests): enhance E2E test for go-to-top and mobile menu
  tests/e2e/newsletter.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(tests): optimize go-to-top button E2E tests with hydration checks
  tests/e2e/go-to-top.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(tests): enhance mobile menu E2E test with context management
  tests/e2e/mobile-menu.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(tests): update newsletter subscription E2E test
  tests/e2e/newsletter.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(sitemap): enhance sitemap generation with xhtml alternate links
  src/pages/cs/sitemap.xml.ts
  src/pages/en/sitemap.xml.ts
  src/utils/sitemap.ts
Due: biome check --write, eslint --fix, cspell --no-progress

Path conditions:
  biome check --write: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (((any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})) or (any of: *.astro)) or (any of: *.svelte)
  cspell --no-progress: (any of: *.{ts,tsx}) or (any of: *.{md,mdx})
  biome format --write: any of: *.{json,jsonc,css}
  prettier --write: ((any of: *.astro) or (any of: *.{md,mdx})) or (any of: *.{yaml,yml})
