Repository ambilab/website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

refactor(GoToTop): improve scroll event handling and cleanup logic
  src/components/svelte/GoToTop.svelte
Due: eslint --fix

refactor(DemoEmbed): enhance aspect ratio validation logic
  src/components/svelte/DemoEmbed.svelte
Due: eslint --fix

refactor(sync-rules): add eslint directives for security checks
  scripts/sync-rules.mjs
Due: biome check --write, eslint --fix

fix(scroll): remove dead API
  src/utils/scroll.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(HeadingLinks): update clipboard handling to include URL hash
  src/components/astro/HeadingLinks.astro
Due: eslint --fix, prettier --write

style: reformat
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

refactor(run-lighthouse): update exit handling for error scenarios
  scripts/run-lighthouse.mjs
Due: biome check --write, eslint --fix

fix(scroll): remove obsolete cleanup reference
  src/utils/scroll.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(scroll): ensure success reflects proximity to target
  src/utils/scroll.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(ci): add cursor agent automation with hooks and skills
  .gitignore
  ai-rules/agent-workflow.mdc
  ai-rules/ambilab-website.mdc
  ai-rules/astro-svelte.mdc
  cspell.json
  cursor-config/hooks.json
  cursor-config/hooks/on-stop.sh
  cursor-config/skills/format/SKILL.md
  cursor-config/skills/pr/SKILL.md
  cursor-config/skills/preflight/SKILL.md
  cursor-config/skills/review/SKILL.md
  scripts/sync-rules.mjs
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

feat(validation): add environment and content validation infrastructure
  .github/workflows/dependencies.yml
  .lintstagedrc.json
  knip.json
  package.json
  pnpm-lock.yaml
  renovate.json
  scripts/validate-content.mjs
  src/config/env.ts
  src/env.d.ts
  src/env.ts
  src/scripts/validate-env.ts
  src/utils/errors.ts
  src/utils/logger.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

feat(testing): add comprehensive testing infrastructure with Testing Library
  .github/workflows/ci.yml
  knip.json
  package.json
  pnpm-lock.yaml
  src/test/setup.ts
  src/utils/debounce.test.ts
  src/utils/errors.test.ts
  src/utils/errors.ts
  src/utils/formatDate.test.ts
  src/utils/logger.test.ts
  src/utils/logger.ts
  vitest.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

fix(ci): correct hook path, max-iteration logic, and skills sync
  cursor-config/hooks.json
  cursor-config/hooks/on-stop.sh
  scripts/sync-rules.mjs
Due: biome check --write, eslint --fix, biome format --write

fix(config): correct zod dependency placement and boolean env handling
  package.json
  pnpm-lock.yaml
  src/config/env.ts
  src/env.d.ts
  src/env.ts
  src/types/astro.d.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

fix(sync-rules): guard against nested directories inside skill subdirectories
  scripts/sync-rules.mjs
Due: biome check --write, eslint --fix

refactor(config): remove unused hasEnv and update knip ignore list
  knip.json
  src/config/env.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write

chore: remove duplicate src/env.ts file
  src/env.ts
Due: biome check --write, eslint --fix, cspell --no-progress

chore: remove unused exports and dependencies
  package.json
  pnpm-lock.yaml
  src/config/env.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

chore: update spellcheck
  cspell.json
Due: biome format --write

refactor: update styles for accessibility and hover effects in menu components
  src/components/astro/Menu.astro
  src/components/astro/MenuNav.astro
  src/components/svelte/LocaleSwitcher.svelte
  src/components/svelte/MobileMenu.svelte
  src/components/svelte/ThemeSwitcher.svelte
Due: eslint --fix, prettier --write

refactor: simplify layout classes in Menu and MenuNav components
  src/components/astro/Menu.astro
  src/components/astro/MenuNav.astro
Due: eslint --fix, prettier --write

refactor(ThemeSwitcher): simplify theme toggle SVG rendering
  src/components/svelte/ThemeSwitcher.svelte
Due: eslint --fix

refactor(menu): enhance layout and responsiveness in Menu and MenuNav components
  src/components/astro/Menu.astro
  src/components/astro/MenuNav.astro
Due: eslint --fix, prettier --write

fix(components): add inert attribute to mobile menu for accessibility
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

style(components): update CookieBanner and MobileMenu styles for improved accessibility and design
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/MobileMenu.svelte
  src/styles/global.css
Due: eslint --fix, biome format --write

feat(i18n): add dismissLabel to cookie translations
  src/components/svelte/CookieBanner.svelte
  src/i18n/translations.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(styles): migrate semantic colors to local scope
  src/components/astro/BlogPostLayout.astro
  src/components/astro/HeadingLinks.astro
  src/components/svelte/Button.svelte
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/MobileMenu.svelte
  src/components/svelte/NewsletterForm.svelte
  src/pages/[...slug].astro
  src/styles/global.css
  src/styles/mdx-content.css
  tailwind.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

style(tailwind): add tag color variables and update BlogPostLayout styles
  src/components/astro/BlogPostLayout.astro
  src/styles/global.css
  tailwind.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

style(MobileMenu): update color variable for menu dimmer background
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

style(buttons): add semantic color variables for button styles
  src/components/svelte/Button.svelte
  src/styles/global.css
  tailwind.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write

style(components): refactor button classes for consistency and clarity
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/NewsletterForm.svelte
  src/pages/[...slug].astro
Due: eslint --fix, prettier --write

chore(skills): fix prettier hook and improve skill documentation
  ai-rules/agent-workflow.mdc
  cursor-config/hooks.json
  cursor-config/skills/deep-review/SKILL.md
  cursor-config/skills/preflight/SKILL.md
  cursor-config/skills/quick-format/SKILL.md
Due: cspell --no-progress, biome format --write, prettier --write

style(components): update focus ring styles for accessibility consistency
  src/components/astro/Menu.astro
  src/components/svelte/Button.svelte
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/NewsletterForm.svelte
  src/styles/global.css
  tailwind.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

style(global): add focus ring semantic colors and update focus styles for accessibility
  src/styles/global.css
Due: biome format --write

style(components): refine menu styles for better spacing and class clarity
  src/components/astro/Menu.astro
  src/components/astro/MenuNav.astro
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix, prettier --write

style(PageLayout): refine layout with flex-based structure
  src/components/astro/PageLayout.astro
Due: eslint --fix, prettier --write

style(Button): sort hover and focus text color classes
  src/components/svelte/Button.svelte
Due: eslint --fix

chore: remove scrollbar styling
  src/styles/global.css
Due: biome format --write

style(global): update semantic color variables and refine focus ring color
  src/styles/global.css
Due: biome format --write

refactor(Button): simplify variant class definitions using CSS variables
  src/components/svelte/Button.svelte
Due: eslint --fix

Path conditions:
  biome check --write: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (((any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})) or (any of: *.astro)) or (any of: *.svelte)
  cspell --no-progress: (any of: *.{ts,tsx}) or (any of: *.{md,mdx})
  biome format --write: any of: *.{json,jsonc,css}
  prettier --write: ((any of: *.astro) or (any of: *.{md,mdx})) or (any of: *.{yaml,yml})
