Repository ambilab/website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["biome check --write", "eslint --fix", "cspell --no-progress"],
  "*.{js,cjs,mjs}": ["biome check --write", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write"],
  "*.astro": ["prettier --write", "eslint --fix"],
  "*.svelte": ["eslint --fix"],
  "*.{md,mdx}": ["prettier --write", "cspell --no-progress"],
  "*.{yaml,yml}": ["prettier --write"]
}

refactor(Card): update card component styles for improved layout
  src/components/astro/Card.astro
Due: eslint --fix, prettier --write

fix(Card): move style overrides to global.css
  src/components/astro/Card.astro
  src/styles/global.css
Due: eslint --fix, biome format --write, prettier --write

refactor(Styles, Config): add Stickie color variables and utilities
  cspell.json
  src/styles/global.css
  tailwind.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write

refactor(Button, styles): update button component and related styles
  src/components/svelte/Button.svelte
  src/content/pages/en/index.mdx
  src/styles/mdx-content.css
Due: eslint --fix, cspell --no-progress, biome format --write, prettier --write

refactor(styles): update article padding and heading styles for improved layout
  src/pages/[...slug].astro
  src/styles/mdx-content.css
Due: eslint --fix, biome format --write, prettier --write

refactor(DemoEmbed): improve demo embed component with new styles and button integration
  src/components/svelte/DemoEmbed.svelte
Due: eslint --fix

refactor(DemoEmbed): update styles and button attributes for improved functionality
  src/components/svelte/DemoEmbed.svelte
Due: eslint --fix

feat(Button): enhance link security with safe rel attribute
  src/components/svelte/Button.svelte
Due: eslint --fix

fix(DemoEmbed): correct class order and text color for error message
  src/components/svelte/DemoEmbed.svelte
Due: eslint --fix

feat(navigation): update routes and navigation links to include 'projects' page
  src/components/astro/Footer.astro
  src/components/astro/MenuNav.astro
  src/config/routes.ts
  src/content/blog/en/hello-world.mdx
  src/content/pages/en/index.mdx
  src/content/pages/en/projects.mdx
  src/i18n/translations.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

feat(rss): enhance RSS feed generation by filtering out draft posts and validating site URL
  src/utils/rss.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(BaseHead): enhance RSS link generation with locale-specific titles
  src/components/astro/BaseHead.astro
Due: eslint --fix, prettier --write

chore(rss): revert the Czech RSS
  src/pages/cs/rss.xml.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(rss): add the fallback author
  src/utils/rss.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(Content Handling): simplify blog index resolution and routing
  src/utils/content-resolver.ts
  src/utils/route-parser.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat: implement comprehensive sitemap support for bilingual site
  astro.config.ts
  src/pages/cs/sitemap.xml.ts
  src/pages/en/sitemap.xml.ts
  src/pages/sitemap.xml.ts
  src/utils/sitemap.ts
Due: biome check --write, eslint --fix, cspell --no-progress

chore: remove unused @astrojs/sitemap dependency
  package.json
  pnpm-lock.yaml
Due: biome format --write, prettier --write

refactor: transition from blog to news content structure
  README.md
  ai-rules/agent-workflow.mdc
  ai-rules/astro-svelte.mdc
  ai-rules/typescript.mdc
  ai-rules/website.mdc
  cspell.json
  cursor-config/skills/pr/SKILL.md
  package.json
  scripts/validate-content.mjs
  src/components/astro/NewsPostLayout.astro
  src/config/routes.ts
  src/config/site.ts
  src/content/config.ts
  src/content/news/en/hello-world.mdx
  src/i18n/translations.ts
  src/pages/[...slug].astro
  src/pages/cs/news.xml.ts
  src/pages/en/news.xml.ts
  src/pages/sitemap.xml.ts
  src/utils/content-loader.ts
  src/utils/content-resolver.ts
  src/utils/route-parser.ts
  src/utils/rss.ts
  src/utils/sitemap.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

feat(news): introduce NewsList and NewsSection components
  src/components/astro/NewsList.astro
  src/components/astro/NewsSection.astro
  src/pages/[...slug].astro
Due: eslint --fix, prettier --write

fix(NewsList): handle explicit limit correctly
  src/components/astro/NewsList.astro
Due: eslint --fix, prettier --write

fix(styles): update secondary button background color in global CSS
  src/styles/global.css
Due: biome format --write

feat(news): enhance News components with improved styling and button integration
  src/components/astro/NewsList.astro
  src/components/astro/NewsPostLayout.astro
  src/components/astro/NewsSection.astro
  src/pages/[...slug].astro
Due: eslint --fix, prettier --write

feat(routes): enhance permalink and translation path generation with locale support
  src/utils/content-resolver.ts
  src/utils/rss.ts
  src/utils/sitemap.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(routes): resolve issues with localized permalink generation
  src/components/astro/NewsPostLayout.astro
Due: eslint --fix, prettier --write

style(news): enhance styling in NewsList and NewsPostLayout components
  src/components/astro/NewsList.astro
  src/components/astro/NewsPostLayout.astro
Due: eslint --fix, prettier --write

chore(NewsPostLayout): hide decorative symbols from assistive tech
  src/components/astro/NewsPostLayout.astro
Due: eslint --fix, prettier --write

Add SEO audit findings and Linear ticket creation prompt
  LINEAR_TICKETS_PROMPT.md
Due: cspell --no-progress, prettier --write

Add comprehensive accessibility audit prompt for Linear issue creation
  accessibility-linear-prompt.md
Due: cspell --no-progress, prettier --write

feat(sitemap): add sitemap-index for locales
  astro.config.ts
  public/robots.txt
  src/pages/sitemap-index.xml.ts
  src/pages/sitemap.xml.ts
Due: biome check --write, eslint --fix, cspell --no-progress

chore(sitemap): remove multi locale generator
  src/utils/sitemap.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(ci): update dev dependencies and lockfile
  package.json
  pnpm-lock.yaml
Due: biome format --write, prettier --write

feat(seo): extend SEO with article metadata
  src/components/astro/BaseHead.astro
  src/components/astro/NewsPostLayout.astro
  src/types/seo.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

feat(news): add aria-label and adjust hover
  src/components/astro/NewsList.astro
Due: eslint --fix, prettier --write

feat(i18n): localize aria-labels for Czech screen readers
  src/components/astro/Menu.astro
  src/components/astro/PageLayout.astro
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/LocaleSwitcher.svelte
  src/components/svelte/MobileMenu.svelte
  src/components/svelte/ThemeSwitcher.svelte
  src/i18n/translations.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

feat(build): add Claude Code config sync to sync-rules script
  .gitignore
  claude-config/settings.json
  scripts/sync-rules.mjs
Due: biome check --write, eslint --fix, biome format --write

feat(a11y): add aria live region for newsletter form status messages
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix

feat(seo): add hreflang tags for bilingual SEO
  src/components/astro/BaseHead.astro
  src/components/astro/PageLayout.astro
  src/types/seo.ts
  src/utils/hreflang-urls.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

feat(a11y): add proper label element to newsletter email input
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix

feat(i18n): add hreflang alternate links for bilingual SEO
  src/components/astro/BaseHead.astro
Due: eslint --fix, prettier --write

feat(a11y): add skip links and keyboard navigation improvements
  src/components/astro/Footer.astro
  src/components/astro/Menu.astro
  src/components/astro/PageLayout.astro
  src/components/astro/SkipLink.astro
  src/i18n/translations.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write
