Repository ambilab/website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

refactor: remove error hierarchy, logger, and safe-execute utilities
  src/components/astro/HeadingLinks.astro
  src/components/svelte/LocaleSwitcher.svelte
  src/components/svelte/NewsletterForm.svelte
  src/components/svelte/ResponsiveImage.svelte
  src/components/svelte/RhythmDebug.svelte
  src/config/env.ts
  src/middleware.ts
  src/pages/[...slug].astro
  src/pages/api/newsletter.ts
  src/utils/content-loader.ts
  src/utils/content-resolver.ts
  src/utils/errors.test.ts
  src/utils/errors.ts
  src/utils/logger.test.ts
  src/utils/logger.ts
  src/utils/rss.ts
  src/utils/safe-execute.test.ts
  src/utils/safe-execute.ts
  src/utils/sitemap.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

fix: address review findings for error logging and init safety
  src/components/astro/HeadingLinks.astro
  src/middleware.ts
  src/pages/api/newsletter.ts
  src/utils/content-loader.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

fix: ensure requestId availability in middleware catch, reduce log noise
  src/components/astro/HeadingLinks.astro
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

fix: wrap deferred HeadingLinks refresh calls in error handler
  src/components/astro/HeadingLinks.astro
Due: eslint --fix, prettier --write

fix: make HeadingLinks DOMContentLoaded listener one-shot
  src/components/astro/HeadingLinks.astro
Due: eslint --fix, prettier --write

ci: remove Codecov upload and coverage generation from CI
  .github/workflows/ci.yml
Due: prettier --write

refactor(components): simplify MobileMenu using native dialog element
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

ci: extract setup composite action to deduplicate workflow boilerplate
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy.yml
  .github/workflows/performance.yml
  .github/workflows/pr-checks.yml
  .node-version
Due: prettier --write

fix(components): remove dead oncancel handler and clean up closeMenu in MobileMenu
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

ci: add setup composite action and node-version to changes filter
  .github/workflows/ci.yml
Due: prettier --write

ci(performance): restrict performance.yml to manual dispatch only
  .github/workflows/performance.yml
Due: prettier --write

fix(components): update Tailwind v3 arbitrary variable syntax to v4 shorthand
  src/components/svelte/Button.svelte
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

ci: remove redundant dependencies.yml workflow
  .github/workflows/dependencies.yml
Due: prettier --write

ci: merge deploy workflow into CI pipeline
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: prettier --write

fix(components): guard openMenu() against undefined dialogElement in MobileMenu
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

fix(components): cancel pending close on reopen to prevent race condition in MobileMenu
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

fix(components): improve MobileMenu close behavior and transition handling
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

feat(agents): add accessibility and security reviewer agents
  .claude/agents/a11y-reviewer.md
  .claude/agents/security-reviewer.md
  .claude/settings.json
  .claude/skills/deep-review/SKILL.md
  .claude/skills/format/SKILL.md
  .claude/skills/gen-e2e-test/SKILL.md
  .claude/skills/pr/SKILL.md
  .claude/skills/preflight/SKILL.md
  .claude/skills/quick-format/SKILL.md
  .claude/skills/review/SKILL.md
  .claude/skills/validate-content/SKILL.md
  CLAUDE.md
  ai-rules/agent-workflow.mdc
  ai-rules/astro-svelte.mdc
  ai-rules/file-structure.mdc
  ai-rules/typescript.mdc
  ai-rules/website.mdc
  cursor-config/hooks.json
  cursor-config/hooks/on-stop.sh
Due: cspell --no-progress, biome format --write, prettier --write

chore: simplify gitignore
  .gitignore
  .prettierignore
Due: none

chore: remove .mdc from biome ignore patterns
  biome.json
Due: biome format --write

chore: remove sync-rules script and related configuration
  .vscode/tasks.json
  package.json
  scripts/sync-rules.mjs
Due: biome check --write, eslint --fix, biome format --write

chore: remove settings.json hooks configuration
  claude-config/settings.json
Due: biome format --write

chore: remove .rules from eslint ignore patterns
  eslint.config.js
Due: biome check --write, eslint --fix

chore: improve claude code agent configs and project rules
  .claude/agents/a11y-reviewer.md
  .claude/agents/security-reviewer.md
  .claude/settings.json
  .claude/skills/format/SKILL.md
  CLAUDE.md
Due: cspell --no-progress, biome format --write, prettier --write

chore: add czech translation slug words to cspell dictionary
  cspell.json
Due: biome format --write

chore: add spellcheck skill and post-edit spellcheck hook
  .claude/settings.json
  .claude/skills/spellcheck/SKILL.md
Due: cspell --no-progress, biome format --write, prettier --write

chore(agents): add dependency security checks to security-reviewer agent
  .claude/agents/security-reviewer.md
Due: cspell --no-progress, prettier --write

fix(tests): correct rss feed title assertion to use lowercase cestina
  tests/e2e/rss-feed.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(news): add czech translations for draft and hello-world-updated posts
  src/content/news/cs/ahoj-svete-aktualizovano.mdx
  src/content/news/cs/koncept-prispevek.mdx
  src/content/news/en/draft-post.mdx
  src/content/news/en/hello-world-updated.mdx
Due: cspell --no-progress, prettier --write

fix(error-page): replace `<em>` tags with `<span>` and adjust styles
  src/components/astro/ErrorPage.astro
Due: eslint --fix, prettier --write

fix(menu-nav): replace `focus` with `focus-visible` for improved a11y
  src/components/astro/MenuNav.astro
Due: eslint --fix, prettier --write

fix(news-section): improve accessibility for "view all" button
  src/components/astro/NewsSection.astro
Due: eslint --fix, prettier --write

fix(button): replace `focus` with `focus-visible` for improved accessibility
  src/components/svelte/Button.svelte
Due: eslint --fix

fix(cookie-banner): update role from `alertdialog` to `dialog`
  src/components/svelte/CookieBanner.svelte
Due: eslint --fix

fix(locale-switcher): replace `focus` with `focus-visible`
  src/components/svelte/LocaleSwitcher.svelte
Due: eslint --fix

fix(security): add pnpm overrides for vulnerable transitive deps
  package.json
  pnpm-lock.yaml
Due: biome format --write, prettier --write

chore(ErrorPage): use semantic names for colors
  src/components/astro/ErrorPage.astro
  src/styles/global.css
Due: eslint --fix, biome format --write, prettier --write

fix(news-section): update button arrow for improved accessibility and styling
  src/components/astro/NewsSection.astro
Due: eslint --fix, prettier --write

Path conditions:
  biome check --write: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (((any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})) or (any of: *.astro)) or (any of: *.svelte)
  cspell --no-progress: (any of: *.{ts,tsx}) or (any of: *.{md,mdx})
  biome format --write: any of: *.{json,jsonc,css}
  prettier --write: ((any of: *.astro) or (any of: *.{md,mdx})) or (any of: *.{yaml,yml})
