Repository ambilab/website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

fix(seo): add XML escaping to sitemap URL output
  src/pages/cs/sitemap.xml.ts
  src/pages/en/sitemap.xml.ts
  src/utils/sitemap.ts
Due: biome check --write, eslint --fix, cspell --no-progress

chore(CookieBanner): disable cookie banner
  src/config/features.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(footer, social links, styles): update layout and styles for footer and social links
  src/components/astro/Footer.astro
  src/components/astro/SocialLinks.astro
  src/styles/global.css
Due: eslint --fix, biome format --write, prettier --write

refactor(sitemap): improve error handling and content loading in sitemap generation
  src/utils/sitemap.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(footer, translations, styles): update footer component and translations
  src/components/astro/Footer.astro
  src/i18n/translations.ts
  src/styles/global.css
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

fix(sitemap): update sitemap generation to handle opposite locale content availability
  cursor-config/hooks.json
  src/utils/sitemap.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write

refactor(footer): update copyright and brand display
  src/components/astro/Footer.astro
Due: eslint --fix, prettier --write

fix(sitemap): normalize slugs in translation functions and update logging level
  src/utils/sitemap.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(sitemap): update hreflang interface to support project-specific values
  src/utils/sitemap.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(sitemap): implement buildAlternates function for hreflang links
  src/utils/sitemap.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(fonts): update font preload definitions and adjust weights in styles
  src/components/astro/BaseHead.astro
  src/styles/mdx-content.css
Due: eslint --fix, biome format --write, prettier --write

fix(security): pin svgo and wrangler overrides, remove redundant dependency pins
  package.json
  pnpm-lock.yaml
Due: biome format --write, prettier --write

fix(security): tighten svgo and wrangler override ranges to caret specifiers
  package.json
  pnpm-lock.yaml
Due: biome format --write, prettier --write

feat(footer): add feature flag for conditional rendering and update styles
  src/components/astro/Footer.astro
  src/components/astro/PageLayout.astro
  src/config/features.ts
  src/styles/global.css
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

fix(error-page): update request ID display and pass requestId to 404 page
  src/components/astro/ErrorPage.astro
  src/pages/404.astro
Due: eslint --fix, prettier --write

chore(error-page): update styles
  src/components/astro/ErrorPage.astro
Due: eslint --fix, prettier --write

chore(error-page): update heading leading
  src/components/astro/ErrorPage.astro
Due: eslint --fix, prettier --write

chore(error-page): make request ID selectable
  src/components/astro/ErrorPage.astro
Due: eslint --fix, prettier --write

feat(newsletter): integrate NewsletterForm component into PageLayout and update styles
  src/components/astro/PageLayout.astro
  src/components/svelte/NewsletterForm.svelte
  src/pages/[...slug].astro
  tests/e2e/newsletter.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

refactor(newsletter-form): simplify markup and enhance styles
  src/components/svelte/NewsletterForm.svelte
  src/styles/global.css
Due: eslint --fix, biome format --write

feat(fonts): add Nerissimo font preload and define font-face styles
  src/components/astro/BaseHead.astro
Due: eslint --fix, prettier --write

refactor(newsletter-form): change style language from postcss to default
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix

style(newsletter-form): update padding and margin values for improved layout consistency
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix

refactor(footer, social-links): update footer structure and styles for improved layout
  src/components/astro/Footer.astro
  src/components/astro/SocialLinks.astro
Due: eslint --fix, prettier --write

fix(components): replace @apply CSS variable utilities with raw CSS in Footer
  src/components/astro/Footer.astro
Due: eslint --fix, prettier --write

style(footer): add dark mode support for footer text color
  src/components/astro/Footer.astro
Due: eslint --fix, prettier --write

refactor(error-page): enhance markup and styles for improved readability
  src/components/astro/ErrorPage.astro
Due: eslint --fix, prettier --write

style(global, mdx-content): refine heading styles
  src/styles/global.css
  src/styles/mdx-content.css
Due: biome format --write

refactor(components): standardize styles and improve structure
  src/components/astro/HeadingLinks.astro
  src/components/astro/Menu.astro
  src/components/astro/MenuNav.astro
  src/components/astro/NewsList.astro
  src/components/astro/NewsSection.astro
  src/components/astro/SkipLink.astro
  src/components/astro/SocialLinks.astro
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/LocaleSwitcher.svelte
Due: eslint --fix, prettier --write

feat(features): update feature flags for locale switcher and cookie banner to true
  src/config/features.ts
  src/pages/[...slug].astro
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

refactor(mobile-menu): simplify structure and improve styles for better maintainability
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

refactor(error-page): update error page styles and markup for better clarity
  src/components/astro/ErrorPage.astro
Due: eslint --fix, prettier --write

refactor(news-post-layout): simplify markup and enhance styles for better structure and readability
  src/components/astro/NewsPostLayout.astro
Due: eslint --fix, prettier --write

refactor(card, newsletter-form): update styles and structure for consistency and readability
  src/components/astro/Card.astro
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix, prettier --write

fix(components): correct cv13 comment
  src/styles/global.css
Due: biome format --write

style(skip-link): update focus styles for improved accessibility and consistency
  src/components/astro/SkipLink.astro
Due: eslint --fix, prettier --write

fix(mobile-menu): correct y-coordinate for menu icon rectangle
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

fix(i18n): temporarily redirect ambilab.cz to ambilab.com
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(features): disable locale switcher and cookie banner feature flags
  src/config/features.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(seo): return proper HTTP status codes from error pages
  src/pages/[...slug].astro
Due: eslint --fix, prettier --write

Path conditions:
  biome check --write: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (((any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})) or (any of: *.astro)) or (any of: *.svelte)
  cspell --no-progress: (any of: *.{ts,tsx}) or (any of: *.{md,mdx})
  biome format --write: any of: *.{json,jsonc,css}
  prettier --write: ((any of: *.astro) or (any of: *.{md,mdx})) or (any of: *.{yaml,yml})
