Repository ambilab/website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["biome check --write", "eslint --fix", "cspell --no-progress"],
  "*.{js,cjs,mjs}": ["biome check --write", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write"],
  "*.astro": ["prettier --write", "eslint --fix"],
  "*.svelte": ["eslint --fix"],
  "*.{md,mdx}": ["prettier --write", "cspell --no-progress"],
  "*.{yaml,yml}": ["prettier --write"]
}

refactor(NewsletterForm): update heading structure and enhance styles
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix

refactor(NewsPostLayout): add bottom padding to container for improved spacing
  src/components/astro/NewsPostLayout.astro
Due: eslint --fix, prettier --write

fix(config): update biome schema to 2.4.4 and clean up knip ignores
  biome.json
  knip.json
Due: biome format --write

refactor: update Buttondown API error handling and CSP configuration
  cspell.json
  src/config/security.ts
  src/pages/api/newsletter.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write

fix(api): add 10s AbortController timeout to Buttondown fetch in newsletter route
  src/pages/api/newsletter.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(api): suppress error logs for already-subscribed Buttondown responses
  src/pages/api/newsletter.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(config): update knip schema URL to v5.85.0
  knip.json
Due: biome format --write

fix(components): make news list anchor block-level for full-card click and spacing
  src/components/astro/NewsList.astro
Due: eslint --fix, prettier --write

fix(api): remove top-level setInterval and make BUTTONDOWN_API_KEY optional
  astro.config.ts
  src/pages/api/newsletter.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor: normalize spacing and typography to design tokens
  src/components/astro/ErrorPage.astro
  src/components/astro/Footer.astro
  src/components/astro/NewsPostLayout.astro
  src/components/svelte/NewsletterForm.svelte
  src/pages/[...slug].astro
  src/styles/global.css
  src/styles/mdx-content.css
Due: eslint --fix, biome format --write, prettier --write

refactor: replace text utility classes with px values
  src/components/astro/ErrorPage.astro
  src/components/astro/NewsPostLayout.astro
Due: eslint --fix, prettier --write

refactor: add postcss lang to style blocks
  src/components/astro/Footer.astro
  src/components/astro/HeadingLinks.astro
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/MobileMenu.svelte
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix, prettier --write

refactor(styles): update nested selectors for better specificity
  src/components/svelte/DemoEmbed.svelte
  src/styles/global.css
Due: eslint --fix, biome format --write

feat(analytics): add analytics utilities and TypeScript declarations
  cspell.json
  docs/analytics-event-tracking.md
  docs/analytics-implementation.md
  docs/analytics.md
  knip.json
  src/env.d.ts
  src/utils/analytics.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

feat(analytics): add analytics utilities and TypeScript declarations
  cspell.json
  src/utils/analytics.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write

feat(AL-214): add BlogPosting schema, fix logo, and add Lighthouse CI config
  .lighthouserc.json
  README.md
  src/components/astro/BaseHead.astro
  src/components/astro/NewsPostLayout.astro
Due: eslint --fix, cspell --no-progress, biome format --write, prettier --write

feat(analytics): track newsletter subscription events
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix

fix(AL-214): correct lighthouserc.json configuration
  .lighthouserc.json
Due: biome format --write

fix(AL-214): fix spellcheck and formatting issues
  .lighthouserc.json
  README.md
  cspell.json
Due: cspell --no-progress, biome format --write, prettier --write

feat(analytics): track demo interaction events
  src/components/svelte/DemoEmbed.svelte
Due: eslint --fix

fix(AL-214): address review feedback on structured data
  src/components/astro/BaseHead.astro
  src/components/astro/NewsPostLayout.astro
Due: eslint --fix, prettier --write

fix(AL-214): enforce performance budgets as CI assertion errors
  .lighthouserc.json
Due: biome format --write

feat(analytics): track cookie banner dismissal
  src/components/svelte/CookieBanner.svelte
Due: eslint --fix

fix(AL-214): prevent JSON-LD script injection via user-controlled fields
  src/components/astro/NewsPostLayout.astro
Due: eslint --fix, prettier --write

feat(analytics): track theme toggle events
  src/components/svelte/ThemeSwitcher.svelte
Due: eslint --fix

feat(analytics): track language switch events
  src/components/svelte/LocaleSwitcher.svelte
Due: eslint --fix

fix(AL-214): fix ineffective JSON-LD sanitizer (Unicode escapes decoded at parse time)
  src/components/astro/NewsPostLayout.astro
Due: eslint --fix, prettier --write

feat(analytics): track social link clicks
  src/components/astro/SocialLinks.astro
Due: eslint --fix, prettier --write

feat(analytics): track mobile menu usage
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

feat(analytics): track scroll-to-top button usage
  src/components/svelte/GoToTop.svelte
Due: eslint --fix

feat(analytics): track CTA button clicks
  src/components/svelte/Button.svelte
Due: eslint --fix

feat(seo): add wordCount to BlogPosting JSON-LD structured data
  src/components/astro/NewsPostLayout.astro
  src/i18n/utils.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

fix(components): add role="alertdialog" and aria-label to cookie banner
  src/components/svelte/CookieBanner.svelte
  src/i18n/translations.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(a11y): add "opens in new tab" aria-label to external social links
  src/components/astro/Footer.astro
  src/components/astro/SocialLinks.astro
  src/i18n/translations.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

fix(i18n): anchor frontmatter regex to string start in word count utility
  src/i18n/utils.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(a11y): add aria-describedby to cookie banner alertdialog
  src/components/svelte/CookieBanner.svelte
Due: eslint --fix
