Repository ambilab/website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

feat: add CI
  .github/dependabot.yml
  .github/markdown-link-check.json
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-checks.yml
Due: biome format --write, prettier --write

chore: update Cloudflare deployment action in GitHub workflow
  .github/workflows/deploy.yml
Due: prettier --write

chore: update markdown link check action in GitHub workflow
  .github/workflows/pr-checks.yml
Due: prettier --write

chore: update aliveStatusCodes in markdown link check configuration
  .github/markdown-link-check.json
Due: biome format --write

docs: update README for GitHub Actions deployment process
  README.md
Due: cspell --no-progress, prettier --write

docs: update README
  README.md
Due: cspell --no-progress, prettier --write

chore: update dependapot settings
  .github/dependabot.yml
Due: prettier --write

chore: remove the documentation check CI
  .github/markdown-link-check.json
  .github/workflows/pr-checks.yml
Due: biome format --write, prettier --write

feat(Icon): integrate DOMPurify for SVG sanitization
  package.json
  src/components/svelte/Icon.svelte
Due: eslint --fix, biome format --write

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

feat(DemoEmbed): enhance iframe sandbox permissions documentation
  src/components/svelte/DemoEmbed.svelte
Due: eslint --fix

chore(deps): add pnpm overrides for CI compatibility
  package.json
Due: biome format --write

chore(deps): regenerate lockfile for standalone repository compatibility
  pnpm-lock.yaml
Due: prettier --write

feat(DemoEmbed): add autoplay and motion sensor options, enhance documentation
  src/components/svelte/DemoEmbed.svelte
Due: eslint --fix

refactor: remove typewriter animation and related configurations
  README.md
  ai-rules/ambilab-website.mdc
  src/components/astro/BaseHead.astro
  src/components/astro/PageLayout.astro
  src/components/svelte/LocaleSwitcher.svelte
  src/config/components.ts
  src/content/blog/cs/ahoj-svete.mdx
  src/content/blog/en/hello-world.mdx
  src/content/config.ts
  src/content/pages/cs/index.mdx
  src/content/pages/cs/o-projektu.mdx
  src/content/pages/en/about.mdx
  src/content/pages/en/index.mdx
  src/lib/typewriter-init.ts
  src/lib/typewriter.ts
  src/types/content.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

chore: remove GSAP dependencies and related documentation
  README.md
  ai-rules/ambilab-website.mdc
  cspell.json
  package.json
  pnpm-lock.yaml
Due: cspell --no-progress, biome format --write, prettier --write

feat(styles): add view transition animations with reduced motion support
  src/styles/global.css
Due: biome format --write

chore(prettier): reorder plugins and add Tailwind configuration
  prettier.config.js
Due: biome check --write, eslint --fix

style: reformat
  src/components/astro/BlogPostLayout.astro
  src/components/astro/Footer.astro
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/NewsletterForm.svelte
  src/pages/[...slug].astro
Due: eslint --fix, prettier --write

feat(i18n): add translationPath support across components
  src/components/astro/BlogPostLayout.astro
  src/components/astro/Header.astro
  src/components/astro/PageLayout.astro
  src/components/svelte/LocaleSwitcher.svelte
  src/pages/[...slug].astro
Due: eslint --fix, prettier --write

docs: add CONTRIBUTING.md and update README with contribution guidelines
  .github/workflows/dco.yml
  CONTRIBUTING.md
  README.md
  cspell.json
Due: cspell --no-progress, biome format --write, prettier --write

fix: update DCO check messages for clarity
  .github/workflows/dco.yml
Due: prettier --write

refactor: remove astro-icon dependency and update icon usage
  README.md
  ai-rules/ambilab-website.mdc
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/assets/icons/README.md
  src/components/astro/BlogPostLayout.astro
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

refactor: centralize icon management and update icon usage
  src/components/astro/Icon.astro
  src/config/icons.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

chore: reorder eslint and prettier commands in format script
  package.json
Due: biome format --write

fix: make sure theme is correctly set when navigating
  src/components/astro/PageLayout.astro
Due: eslint --fix, prettier --write

chore: remove smooth scroll from PageLayout
  src/components/astro/PageLayout.astro
Due: eslint --fix, prettier --write

fix: add nonce attribute to inline script for enhanced security
  src/components/astro/PageLayout.astro
Due: eslint --fix, prettier --write

feat: implement comprehensive error handling and custom error pages
  README.md
  public/_routes.json
  src/components/astro/ErrorPage.astro
  src/i18n/translations.ts
  src/middleware.ts
  src/pages/500.astro
  src/pages/503.astro
  src/pages/[...slug].astro
  src/utils/rss.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

feat: enhance ErrorPage component with locale type support
  src/components/astro/ErrorPage.astro
Due: eslint --fix, prettier --write

refactor: remove redundant locale and nonce setting in error handling
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix: refine error response handling in middleware
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix: update autoplay handling in DemoEmbed component
  src/components/svelte/DemoEmbed.svelte
Due: eslint --fix

feat: enhance error response handling with security headers
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat: add localized error messages for RSS feed generation
  src/i18n/translations.ts
  src/utils/rss.ts
Due: biome check --write, eslint --fix, cspell --no-progress

chore: fix the Plausible loading
  src/components/astro/BaseHead.astro
Due: eslint --fix, prettier --write

feat: migrate Card and SocialLinks components to Astro
  src/components/astro/Card.astro
  src/components/astro/Footer.astro
  src/components/astro/SocialLinks.astro
  src/components/svelte/Card.svelte
  src/components/svelte/SocialLinks.svelte
Due: eslint --fix, prettier --write

Path conditions:
  biome check --write: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (((any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})) or (any of: *.astro)) or (any of: *.svelte)
  cspell --no-progress: (any of: *.{ts,tsx}) or (any of: *.{md,mdx})
  biome format --write: any of: *.{json,jsonc,css}
  prettier --write: ((any of: *.astro) or (any of: *.{md,mdx})) or (any of: *.{yaml,yml})
