Repository ambilab/website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["biome check --write", "eslint --fix", "cspell --no-progress"],
  "*.{js,cjs,mjs}": ["biome check --write", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write"],
  "*.astro": ["prettier --write", "eslint --fix"],
  "*.svelte": ["eslint --fix"],
  "*.{md,mdx}": ["prettier --write", "cspell --no-progress"],
  "*.{yaml,yml}": ["prettier --write"]
}

refactor(components): add runtime fallback for Footer locale prop
  src/components/astro/Footer.astro
Due: eslint --fix, prettier --write

refactor(utils): use optional chaining for localStorage check
  src/utils/dom.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(components): forward onclick handler to anchor in Button component
  src/components/svelte/Button.svelte
Due: eslint --fix

refactor(components): use stricter top-navigation sandbox permission
  src/components/svelte/DemoEmbed.svelte
Due: eslint --fix

refactor(i18n): normalize hostname before locale detection
  src/i18n/utils.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(types): remove unused barrel export index
  src/types/index.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(components): simplify translationPath prop in PageLayout
  src/components/astro/PageLayout.astro
Due: eslint --fix, prettier --write

refactor(components): use animationDuration config in GoToTop
  src/components/svelte/GoToTop.svelte
  src/config/components.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(lib): extract default responsive sizes to constant
  src/lib/images.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(404): replace media queries with Tailwind responsive classes
  src/pages/404-vancura-style.astro
Due: eslint --fix, prettier --write

fix(404): remove non-functional search button from vancura-style page
  src/pages/404-vancura-style.astro
Due: eslint --fix, prettier --write

refactor(api): use Response.json in newsletter endpoint
  src/pages/api/newsletter.ts
Due: biome check --write, eslint --fix, cspell --no-progress

docs(ci): fix incorrect comment for subject-empty rule
  commitlint.config.js
Due: biome check --write, eslint --fix

refactor(components, utils): use `DEFAULT_LOCALE` fallback and simplify localStorage check
  src/components/astro/Footer.astro
  src/utils/dom.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

feat(utils): add `stabilityThreshold` and `nearTargetThreshold` options to `smoothScrollTo`
  src/utils/scroll.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(types): update translationPath prop type in Header component
  src/components/astro/Header.astro
Due: eslint --fix, prettier --write

fix(utils): improve error handling in debounce function
  src/utils/debounce.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(components): enhance MobileMenu with inline SVG icons
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

feat(styles): add debug semantic colors
  src/styles/global.css
Due: biome format --write

feat(menu): add simple image logotype
  src/components/astro/Header.astro
Due: eslint --fix, prettier --write

feat(menu): improve header navigation accessibility
  src/components/astro/Header.astro
  src/components/astro/PageLayout.astro
Due: eslint --fix, prettier --write

feat(a11y): add focus management to MobileMenu
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

feat(menu): add focus trap to MobileMenu
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

fix(menu): improve menu click handling in MobileMenu
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

feat(tailwind): add tailwindcss-debug-screens plugin
  package.json
  pnpm-lock.yaml
  src/components/astro/PageLayout.astro
  src/styles/global.css
Due: eslint --fix, biome format --write, prettier --write

refactor(PageLayout): update class binding for body element
  src/components/astro/PageLayout.astro
Due: eslint --fix, prettier --write

feat(fonts): add Departure Mono font and update README
  README.md
  cspell.json
  public/fonts/DepartureMono-LICENSE.txt
  public/fonts/DepartureMono-Regular.otf
  public/fonts/DepartureMono-Regular.woff
  public/fonts/DepartureMono-Regular.woff2
  public/fonts/LICENSE
  public/fonts/README.md
  src/components/astro/BaseHead.astro
Due: eslint --fix, cspell --no-progress, biome format --write, prettier --write

fix(security): update CSP to allow fonts from vancura.dev
  src/config/security.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(ThemeSwitcher): enhance component documentation and styling
  src/components/svelte/ThemeSwitcher.svelte
Due: eslint --fix

refactor(HeaderNav): enhance documentation, accessibility, and styling
  src/components/astro/HeaderNav.astro
Due: eslint --fix, prettier --write

refactor(Header): improve accessibility and localization for skip navigation link
  src/components/astro/Header.astro
  src/i18n/translations.ts
  tailwind.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

refactor(MobileMenu): streamline focus management with a reusable selector
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

docs(Header, LocaleSwitcher, ThemeSwitcher): enhance documentation
  src/components/astro/Header.astro
  src/components/svelte/LocaleSwitcher.svelte
  src/components/svelte/ThemeSwitcher.svelte
Due: eslint --fix, prettier --write

refactor(z-index): standardize z-index values across components
  src/components/astro/Header.astro
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/MobileMenu.svelte
  src/styles/global.css
  tailwind.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

refactor(Header, HeaderNav, LocaleSwitcher): update styling and improve accessibility
  src/components/astro/Header.astro
  src/components/astro/HeaderNav.astro
  src/components/svelte/LocaleSwitcher.svelte
Due: eslint --fix, prettier --write

docs: update documentation
  .gitignore
  .husky/commit-msg
  .husky/ensure-pnpm.sh
  .husky/pre-commit
  .husky/pre-push
  .markdownlint-cli2.jsonc
  .prettierignore
  .vscode/settings.json
  ai-rules/ambilab-website.mdc
  astro.config.ts
  commitlint.config.js
  eslint.config.js
  lighthouserc.cjs
  package.json
  prettier.config.js
  scripts/run-lighthouse.mjs
  scripts/sync-rules.mjs
  src/components/svelte/DemoEmbed.svelte
  src/config/security.ts
  src/config/site.ts
  src/content/blog/en/hello-world.mdx
  src/content/pages/cs/index.mdx
  src/content/pages/en/about.mdx
  src/content/pages/en/index.mdx
  src/env.d.ts
  src/i18n/translations.ts
  src/utils/dom.ts
  tailwind.config.ts
  wrangler.jsonc
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

feat(scroll): enhance smooth scrolling functionality with stability monitoring
  src/utils/scroll.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(validate-security-headers): streamline validation logic and improve result handling
  src/scripts/validate-security-headers.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(newsletter): enhance email subscription validation and error handling
  src/pages/api/newsletter.ts
Due: biome check --write, eslint --fix, cspell --no-progress
