Repository ambilab/website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["biome check --write", "eslint --fix", "cspell --no-progress"],
  "*.{js,cjs,mjs}": ["biome check --write", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write"],
  "*.astro": ["prettier --write", "eslint --fix"],
  "*.svelte": ["eslint --fix"],
  "*.{md,mdx}": ["prettier --write", "cspell --no-progress"],
  "*.{yaml,yml}": ["prettier --write"]
}

feat(a11y): add comprehensive ARIA attributes to forms
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/NewsletterForm.svelte
  src/i18n/translations.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(a11y): implement prefers-reduced-motion support for Svelte transitions
  src/components/astro/HeadingLinks.astro
  src/components/svelte/GoToTop.svelte
  src/styles/global.css
  src/utils/dom.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

refactor(style): standardize Tailwind class composition and responsive patterns
  ai-rules/website.mdc
  src/components/astro/Card.astro
  src/components/astro/Footer.astro
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/NewsletterForm.svelte
  src/styles/global.css
  tailwind.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

feat(perf): enhance image optimization with AVIF and better responsive sizes
  ai-rules/astro-svelte.mdc
  astro.config.ts
  src/components/astro/PageLayout.astro
  src/components/svelte/ResponsiveImage.svelte
  src/lib/images.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

test: add unit and E2E testing infrastructure with Vitest and Playwright
  README.md
  knip.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/components/astro/Footer.astro
  src/scripts/validate-translations.ts
  src/utils/dom.test.ts
  src/utils/safe-execute.test.ts
  tests/e2e/locale-switching.spec.ts
  tests/e2e/newsletter.spec.ts
  tests/e2e/theme-switching.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

fix(types): remove TypeScript any and add error correlation IDs
  package.json
  pnpm-lock.yaml
  src/components/astro/ErrorPage.astro
  src/middleware.ts
  src/pages/500.astro
  src/pages/503.astro
  src/pages/[...slug].astro
  src/types/astro.d.ts
  src/utils/logger.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

feat(security): add honeypot and rate limiting to newsletter form
  src/components/svelte/NewsletterForm.svelte
  src/i18n/translations.ts
  src/pages/api/newsletter.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(logging): improve error logging structure in content resolution
  src/pages/[...slug].astro
Due: eslint --fix, prettier --write

fix(newsletter): update honeypot response for better error handling
  src/pages/api/newsletter.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(image-optimization): update image format strategy and remove unnecessary client directives
  ai-rules/astro-svelte.mdc
Due: none

feat(newsletter): implement automatic cleanup for rate limiting timestamps
  src/pages/api/newsletter.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(image): update AVIF usage guidelines for better fallback support
  ai-rules/astro-svelte.mdc
Due: none

fix: resolve linting and type checking issues
  package.json
  pnpm-lock.yaml
  scripts/sync-rules.mjs
Due: biome check --write, eslint --fix, biome format --write, prettier --write

feat(a11y): enhance validation error handling in newsletter form
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix

fix(newsletter): only set aria-invalid for field validation errors
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix

fix(astro-svelte): enhance responsive sizes documentation for clarity
  ai-rules/astro-svelte.mdc
Due: none

test: enhance safeExecute tests with console error handling
  src/utils/safe-execute.test.ts
Due: biome check --write, eslint --fix, cspell --no-progress

test: improve assertions in safe-execute and locale-switching tests
  tests/e2e/locale-switching.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

test: strengthen assertions in safe-execute and locale-switching tests
  tests/e2e/locale-switching.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(a11y): add data-testid attributes for improved testability
  src/components/svelte/Button.svelte
  src/components/svelte/NewsletterForm.svelte
  tests/e2e/newsletter.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

style: reformat
  src/components/svelte/Button.svelte
  src/utils/safe-execute.test.ts
  tests/e2e/locale-switching.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor: remove NewsletterForm from Footer and add to NewsPostLayout and dynamic pages
  src/components/astro/Footer.astro
  src/components/astro/NewsPostLayout.astro
  src/pages/[...slug].astro
Due: eslint --fix, prettier --write

chore: update cspell configuration and improve test imports
  cspell.json
  src/utils/safe-execute.test.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write

test: enhance dom tests with initial class name preservation
  src/utils/dom.test.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor: extract meta typography styles to utility class
  src/components/astro/Footer.astro
  src/components/astro/Menu.astro
  src/components/astro/NewsList.astro
  src/components/astro/NewsPostLayout.astro
  src/components/astro/SkipLink.astro
  src/components/svelte/Button.svelte
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/DemoEmbed.svelte
  src/styles/global.css
Due: eslint --fix, biome format --write, prettier --write

refactor: standardize meta class padding values
  src/components/astro/Footer.astro
  src/components/astro/Menu.astro
  src/components/astro/MenuNav.astro
  src/components/svelte/Button.svelte
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/LocaleSwitcher.svelte
Due: eslint --fix, prettier --write

refactor(LocaleSwitcher): remove uppercase from meta class
  src/components/svelte/LocaleSwitcher.svelte
Due: eslint --fix

refactor: update card and stickie components for consistency and clarity
  src/components/astro/Card.astro
  src/components/astro/NewsList.astro
  src/components/svelte/NewsletterForm.svelte
  src/styles/global.css
Due: eslint --fix, biome format --write, prettier --write

refactor: reorganize global CSS layers and enhance utility classes
  src/styles/global.css
  src/styles/mdx-content.css
Due: biome format --write

refactor(NewsletterForm): simplify structure and update styles
  src/components/svelte/NewsletterForm.svelte
  src/i18n/translations.ts
Due: biome check --write, eslint --fix, cspell --no-progress

build(deps): update fast-xml-parser and rollup, add new dependencies
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: biome format --write, prettier --write

refactor(mdx-content): update typography styles for improved consistency
  src/styles/mdx-content.css
Due: biome format --write

refactor: update padding values for article and container elements
  src/pages/[...slug].astro
Due: eslint --fix, prettier --write
