Repository ambilab/website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

fix(translations): update error page messages for clarity and consistency
  src/i18n/translations.ts
Due: biome check --write, eslint --fix, cspell --no-progress

style: switch to sans fonts across components
  astro.config.ts
  src/components/astro/Menu.astro
  src/components/astro/MenuNav.astro
  src/components/svelte/Button.svelte
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/LocaleSwitcher.svelte
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

fix(components): make isKeyboardMode persistent state in MobileMenu
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

refactor(security): remove nonce from CSP configuration and update comments
  src/config/security.ts
  src/middleware.ts
  src/scripts/validate-security-headers.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(analytics): add domain-specific Plausible Analytics tracking
  .env.example
  src/components/astro/BaseHead.astro
  src/config/env.ts
  src/config/security.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

refactor(env): enhance Plausible script URL validation
  src/config/env.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(analytics): improve domain detection for Plausible script loading
  src/components/astro/BaseHead.astro
Due: eslint --fix, prettier --write

feat(deploy): add Plausible script environment variables to deployment workflow
  .github/workflows/deploy.yml
Due: prettier --write

feat(deploy): set Plausible environment variables in deployment workflow
  .github/workflows/deploy.yml
Due: prettier --write

refactor(icons): remove unused icon components and update related configurations
  src/assets/icons/bluesky.svg
  src/assets/icons/calendar.svg
  src/assets/icons/clock.svg
  src/assets/icons/github.svg
  src/assets/icons/instagram.svg
  src/assets/icons/linkedin.svg
  src/assets/icons/mastodon.svg
  src/assets/icons/pixel-heart.svg
  src/assets/icons/refresh.svg
  src/assets/icons/tag.svg
  src/assets/icons/threads.svg
  src/assets/icons/user.svg
  src/assets/icons/x.svg
  src/components/astro/BlogPostLayout.astro
  src/components/astro/Icon.astro
  src/components/astro/SocialLinks.astro
  src/config/icons.ts
  tsconfig.json
  vitest.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

refactor(social-links): update styling and remove unused imports
  src/components/astro/SocialLinks.astro
Due: eslint --fix, prettier --write

refactor(styles): remove muted background colors and update related styles
  src/components/svelte/DemoEmbed.svelte
  src/styles/global.css
  tailwind.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write

refactor(social-links): remove outdated social media links
  src/config/site.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(translations): update 'followAmbilab' text for consistency in English and Czech
  src/i18n/translations.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(cookie-banner): adjust height properties and improve styling
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/GoToTop.svelte
Due: eslint --fix

refactor(footer): update footer layout and styling for improved readability
  src/components/astro/Footer.astro
Due: eslint --fix, prettier --write

chore(ci): update scripts to use the Buttondown API keys
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: prettier --write

refactor(ErrorPage): update layout and styling for improved presentation
  src/components/astro/ErrorPage.astro
Due: eslint --fix, prettier --write

feat(debug): add RhythmDebug component for visual rhythm debugging
  src/components/astro/PageLayout.astro
  src/components/svelte/RhythmDebug.svelte
  src/styles/global.css
Due: eslint --fix, biome format --write, prettier --write

fix(components): use event.code for keyboard layout independence in RhythmDebug
  src/components/svelte/RhythmDebug.svelte
Due: eslint --fix

refactor(styles): adjust OpenType settings
  src/styles/global.css
Due: biome format --write

feat(fonts): add Nerissimo-Book font and update font-face declaration
  src/components/astro/BaseHead.astro
Due: eslint --fix, prettier --write

refactor(Card): update padding and margin styles for improved layout
  src/components/astro/Card.astro
Due: eslint --fix, prettier --write

refactor(ErrorPage): update padding and margin styles for improved layout
  src/components/astro/ErrorPage.astro
Due: eslint --fix, prettier --write

fix(RhythmDebug): invoke toggle function on mount
  src/components/svelte/RhythmDebug.svelte
Due: eslint --fix

refactor(styles): update article padding and heading styles for improved layout
  src/pages/[...slug].astro
  src/styles/mdx-content.css
Due: eslint --fix, biome format --write, prettier --write

fix(ErrorPage): fix css issues
  src/components/astro/ErrorPage.astro
Due: eslint --fix, prettier --write

chore(tailwind): add missing rhythm-2 definition
  src/styles/global.css
Due: biome format --write

fix(menu): make the skip link available everywhere
  src/components/astro/Menu.astro
Due: eslint --fix, prettier --write

refactor(styles): streamline color usage and remove dark mode variants
  src/components/astro/BlogPostLayout.astro
  src/components/astro/Footer.astro
  src/components/astro/Menu.astro
  src/components/astro/MenuNav.astro
  src/components/astro/PageLayout.astro
  src/components/astro/SocialLinks.astro
  src/components/svelte/Button.svelte
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/LocaleSwitcher.svelte
  src/components/svelte/MobileMenu.svelte
  src/components/svelte/NewsletterForm.svelte
  src/components/svelte/ThemeSwitcher.svelte
  src/content/pages/cs/index.mdx
  src/pages/[...slug].astro
  src/styles/global.css
  src/styles/mdx-content.css
  tailwind.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

chore(gitignore): update ignore lists
  .gitignore
Due: none

feat(settings): add initial configuration for language servers and formatters
  .zed/settings.json
Due: biome format --write

docs(website): enhance semantic design tokens documentation with dark mode details
  ai-rules/website.mdc
Due: none

refactor(cs/index.mdx): remove dark mode classes for consistent styling
  src/content/pages/cs/index.mdx
Due: cspell --no-progress, prettier --write

chore(LocaleSwitcher): temporarily hide the LocaleSwitcher
  src/components/svelte/LocaleSwitcher.svelte
Due: eslint --fix

refactor(MobileMenu): update SVG fill and button styles for improved accessibility
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

refactor(ThemeSwitcher): update button styles and SVG structure for improved theming
  src/components/svelte/ThemeSwitcher.svelte
Due: eslint --fix

refactor(Menu, styles): update border styles for improved visual hierarchy
  src/components/astro/Menu.astro
  src/styles/global.css
Due: eslint --fix, biome format --write, prettier --write

refactor(Footer, CookieBanner): update styles for improved consistency and appearance
  src/components/astro/Footer.astro
  src/components/svelte/CookieBanner.svelte
Due: eslint --fix, prettier --write

Path conditions:
  biome check --write: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (((any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})) or (any of: *.astro)) or (any of: *.svelte)
  cspell --no-progress: (any of: *.{ts,tsx}) or (any of: *.{md,mdx})
  biome format --write: any of: *.{json,jsonc,css}
  prettier --write: ((any of: *.astro) or (any of: *.{md,mdx})) or (any of: *.{yaml,yml})
