Repository ambilab/website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

test(seo): add E2E tests for error page HTTP status codes
  tests/e2e/error-pages.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(seo): remove RSS feed URLs from robots.txt Sitemap directives
  public/robots.txt
Due: none

fix(tests): scope 404 redirect check to navigation request only
  tests/e2e/error-pages.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(seo): add og:locale:alternate meta tag for bilingual pages
  src/components/astro/BaseHead.astro
Due: eslint --fix, prettier --write

test(e2e): add tests for og:locale and og:locale:alternate meta tags
  tests/e2e/og-locale-alternate.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(a11y): add aria-hidden to decorative SVGs in Menu, GoToTop, and MobileMenu
  src/components/astro/Menu.astro
  src/components/svelte/GoToTop.svelte
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix, prettier --write

test(a11y): add E2E tests for aria-hidden attributes on decorative SVGs
  tests/e2e/svg-aria-hidden.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(a11y): add localized aria-label to mobile menu nav element
  src/components/astro/Menu.astro
  src/components/svelte/MobileMenu.svelte
  src/i18n/translations.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

test(a11y): add Czech aria-label tests for mobile and desktop navigation
  cspell.json
  tests/e2e/mobile-menu.spec.ts
  tests/e2e/navigation.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write

feat(seo): add BreadcrumbList structured data for news posts and subpages
  src/components/astro/BaseHead.astro
  src/pages/[...slug].astro
  src/types/seo.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

test(seo): add E2E tests for BreadcrumbList structured data
  tests/e2e/breadcrumbs.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(seo): add Cache-Control and Last-Modified headers to HTML pages
  cspell.json
  src/middleware.ts
  src/pages/[...slug].astro
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

test(e2e): add tests for Cache-Control and Last-Modified headers
  tests/e2e/caching-headers.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(seo): remove Czech RSS feed link from head until Czech site launch
  src/components/astro/BaseHead.astro
Due: eslint --fix, prettier --write

test(e2e): add E2E tests for English RSS feed link in document head
  tests/e2e/rss-feed.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

chore(tests): update ESLint config and enhance BreadcrumbList test descriptions
  eslint.config.js
  tests/e2e/breadcrumbs.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(e2e): add GoToTop fixture page for deterministic aria-hidden tests
  src/pages/e2e/go-to-top.astro
  tests/e2e/svg-aria-hidden.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

fix(middleware): skip Cache-Control header for 5xx error responses
  src/content/news/en/hello-world-updated.mdx
  src/middleware.ts
  tests/e2e/caching-headers.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

test(e2e): add RSS feed link assertions for Czech homepage route
  tests/e2e/rss-feed.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(tests): rebuild dist and fix stale locale selector in locale-content spec
  tests/e2e/locale-content.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

test(e2e): wrap JSON.parse in try-catch with contextual error in getBreadcrumbJsonLd
  tests/e2e/breadcrumbs.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(e2e): derive cookie URL from Playwright baseURL instead of hardcoding localhost
  tests/e2e/locale-content.spec.ts
  tests/e2e/og-locale-alternate.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(tests): extract locale cookie setup into a shared helper
  tests/e2e/locale-content.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(seo): add BreadcrumbList structured data for news posts and subpages
  src/pages/[...slug].astro
Due: eslint --fix, prettier --write

test(seo): add 500/503 noindex tests and document hello-world fixture dependency
  tests/e2e/robots-meta.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(seo): add noindex to draft and error pages
  src/components/astro/BaseHead.astro
  src/components/astro/ErrorPage.astro
  src/pages/[...slug].astro
  src/types/seo.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

test(seo): add E2E tests for robots meta tag on error and published pages
  tests/e2e/robots-meta.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(seo): add noindex to draft and error pages
  src/pages/[...slug].astro
Due: eslint --fix, prettier --write

fix(seo): resolve rebase conflict and fix robots-meta test issues
  src/content/news/en/draft-post.mdx
  tests/e2e/robots-meta.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

fix(tests): replace non-null assertions with optional chaining in E2E tests
  tests/e2e/breadcrumbs.spec.ts
  tests/e2e/caching-headers.spec.ts
  tests/e2e/error-pages.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

test(e2e): add rel="alternate" assertions and Czech page navigation guard to RSS feed tests
  tests/e2e/rss-feed.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(tests): use locale cookie for Czech homepage in RSS feed e2e test
  tests/e2e/rss-feed.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(i18n): redirect both ambilab.com and ambilab.cz to vancura.dev
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(i18n): restore ambilab.com and redirect ambilab.cz to ambilab.com
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(i18n): re-enable Czech RSS feed link in head (AL-321)
  src/components/astro/BaseHead.astro
  tests/e2e/rss-feed.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

fix(i18n): use temporary 302 redirect for ambilab.cz to ambilab.com
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress

chore(rss): minor title fix
  src/components/astro/BaseHead.astro
Due: eslint --fix, prettier --write

fix(i18n): preserve Czech locale cookie when redirecting ambilab.cz to ambilab.com
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(security): remove nonce pipeline
  ai-rules/astro-svelte.mdc
  ai-rules/website.mdc
  docs/analytics-implementation.md
  docs/analytics.md
  src/components/astro/BaseHead.astro
  src/components/astro/NewsPostLayout.astro
  src/config/security.ts
  src/middleware.ts
  src/scripts/validate-security-headers.ts
  src/types/astro.d.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

docs(security): update analytics docs to reflect unsafe-inline CSP approach
  docs/analytics-implementation.md
Due: cspell --no-progress, prettier --write

Path conditions:
  biome check --write: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (((any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})) or (any of: *.astro)) or (any of: *.svelte)
  cspell --no-progress: (any of: *.{ts,tsx}) or (any of: *.{md,mdx})
  biome format --write: any of: *.{json,jsonc,css}
  prettier --write: ((any of: *.astro) or (any of: *.{md,mdx})) or (any of: *.{yaml,yml})
