Repository ambilab/website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["biome check --write", "eslint --fix", "cspell --no-progress"],
  "*.{js,cjs,mjs}": ["biome check --write", "eslint --fix"],
  "*.{json,jsonc,css}": ["biome format --write"],
  "*.astro": ["prettier --write", "eslint --fix"],
  "*.svelte": ["eslint --fix"],
  "*.{md,mdx}": ["prettier --write", "cspell --no-progress"],
  "*.{yaml,yml}": ["prettier --write"]
}

fix(cookie-banner): add aria-modal attribute for improved accessibility
  src/components/svelte/CookieBanner.svelte
Due: eslint --fix

chore(dependencies): update package versions and add new dependencies
  package.json
  pnpm-lock.yaml
Due: biome format --write, prettier --write

refactor(analytics): remove custom event tracking, keep basic plausible page views
  src/components/astro/SocialLinks.astro
  src/components/svelte/Button.svelte
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/LocaleSwitcher.svelte
  src/components/svelte/MobileMenu.svelte
  src/components/svelte/NewsletterForm.svelte
  src/utils/analytics.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

chore(ci): simplify pre-push hook to typecheck and lint only
  .husky/pre-push
Due: none

chore(ai): fix CLAUDE.md
  CLAUDE.md
Due: cspell --no-progress, prettier --write

refactor(config): remove feature flags system
  CLAUDE.md
  src/components/astro/BaseHead.astro
  src/components/astro/Menu.astro
  src/components/astro/NewsPostLayout.astro
  src/components/astro/PageLayout.astro
  src/components/svelte/DemoEmbed.svelte
  src/config/features.ts
  tests/e2e/cookie-banner.spec.ts
  tests/e2e/locale-switching.spec.ts
  tests/e2e/newsletter.spec.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

fix(seo): escape html-significant chars in json-ld payloads in BaseHead
  src/components/astro/BaseHead.astro
Due: eslint --fix, prettier --write

feat(i18n): move DemoEmbed hardcoded strings into translations
  src/components/svelte/DemoEmbed.svelte
  src/i18n/translations.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(components): replace $effect with onMount for localhost detection in DemoEmbed
  src/components/svelte/DemoEmbed.svelte
Due: eslint --fix

fix(i18n): localize invalid source error in DemoEmbed error panel
  src/components/svelte/DemoEmbed.svelte
Due: eslint --fix

chore(tests): remove all testing infrastructure
  .claude/skills/deep-review/SKILL.md
  .claude/skills/gen-e2e-test/SKILL.md
  .claude/skills/preflight/SKILL.md
  .claude/skills/review/SKILL.md
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  docs/analytics-event-tracking.md
  docs/analytics-implementation.md
  docs/analytics.md
  docs/deployment.md
  eslint.config.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  renovate.json
  src/pages/e2e/go-to-top.astro
  src/test/setup.ts
  src/utils/debounce.test.ts
  src/utils/formatDate.test.ts
  tests/e2e/breadcrumbs.spec.ts
  tests/e2e/caching-headers.spec.ts
  tests/e2e/cookie-banner.spec.ts
  tests/e2e/error-pages.spec.ts
  tests/e2e/go-to-top.spec.ts
  tests/e2e/locale-content.spec.ts
  tests/e2e/locale-switching.spec.ts
  tests/e2e/mobile-menu.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/news.spec.ts
  tests/e2e/newsletter.spec.ts
  tests/e2e/og-locale-alternate.spec.ts
  tests/e2e/robots-meta.spec.ts
  tests/e2e/rss-feed.spec.ts
  tests/e2e/svg-aria-hidden.spec.ts
  tests/e2e/theme-switching.spec.ts
  tsconfig.json
  vitest.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

chore: update lockfile
  pnpm-lock.yaml
Due: prettier --write

ci: remove Lighthouse CI GitHub Actions workflow
  .github/workflows/performance.yml
Due: prettier --write

chore(ci): remove commitlint stack
  .github/workflows/pr-checks.yml
  .husky/commit-msg
  CLAUDE.md
  commitlint.config.js
  cspell.json
  package.json
  pnpm-lock.yaml
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

refactor(config): delete env.ts, components.ts, and validate-env script
  package.json
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/GoToTop.svelte
  src/config/components.ts
  src/config/env.ts
  src/config/security.ts
  src/scripts/validate-env.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write

chore: update lockfiles
  package.json
  pnpm-lock.yaml
Due: biome format --write, prettier --write

refactor(middleware): replace nanoid with crypto.randomUUID()
  package.json
  pnpm-lock.yaml
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

chore(ai): sync AI rules with current codebase state
  .claude/agents/a11y-reviewer.md
  .claude/agents/security-reviewer.md
  .claude/skills/format/SKILL.md
  CLAUDE.md
Due: cspell --no-progress, prettier --write

ci: remove paths-filter change detection from CI workflow
  .github/workflows/ci.yml
Due: prettier --write

feat(middleware): add temporary redirect to vancura.dev
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(middleware): harden localhost detection in temporary redirect
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress
